<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="injector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <injector.Properties.Settings>
            <setting name="elevateHandle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unloadDriverOnInject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="previousProcessName" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="hijackHandle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="previousFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="driverObtainHandles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="previousMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="isInjectionMode" serializeAs="String">
                <value>False</value>
            </setting>
        </injector.Properties.Settings>
    </userSettings>
</configuration>